{% extends "base.html" %}
{% block content %}
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>IP地址</th>
				<th>别名</th>
				<th>描述</th>
				<th>状态</th>
				<th>启用</th>
			</tr>
		</thead>
		{% if host is not none %}
		<tbody>
			<tr>
				<td>{{ host.ip }}</td>
				<td>{{ host.alias }}</td>
				<td>{{ host.description }}</td>
				<td>{{ host.status }}</td>
				<td>{{ host.enabled }}}</td>
			</tr>
		</tbody>
		{% endif %}
	</table>
</div>
{% endblock %}